/*-------------------------------------*\
    $BORDERS
\*-------------------------------------*/

/*
 * Borders
 *
 * 
 *
    
 *
 */

$border-width: 1px;
$thick-border-width: 2px;

/*---  Border Modifiers  ---*/

$directions: top right bottom left;

@each $dir in $directions {
    %border--thick--#{$dir} {
        border-#{$dir}-width: $thick-border-width;
    }
    .border--thick--#{$dir} { @extend %border--thick--#{$dir}; }


    %border--#{$dir} {
        border-#{$dir}: solid $border-width $c-border;
    }
    .border--#{$dir} { @extend %border--#{$dir}; }


    %border--dark--#{$dir} {
        border-#{$dir}: solid $border-width $c-border--dark;
    }
    .border--dark--#{$dir} { @extend %border--dark--#{$dir}; }
}

%border--thick {
    border-width: $thick-border-width;
}
.border--thick { @extend %border--thick; }

%border {
    border: solid $border-width $c-border;
}
.border { @extend %border; }

%border--dark {
    border: solid $border-width $c-border--dark;
}
.border--dark { @extend %border--dark; }
