/*-------------------------------------*\
    $BREAKPOINTS
\*-------------------------------------*/

/**
 * Breakpoints
 *
 * - Aliases
 * 
 *
    
 *
 * [An object/file scopped breakpoint]
 * bp-name
 *
 * [A global breakpoint]
 * gbp-name
 *
 */

$gbp-micro:     340px;
$gbp-tiny:      480px;
$gbp-small:     630px;


/*---  Aliases  ---*/

$break-width-small: $gbp-small;
$break-width-tiny: $gbp-tiny;

