/*
 * _global.scss
 *
 * General use functions 
 * and global definitions
 *
 */

$baseSize: 16px;
$baseLineHeight: 16px * 1.618;
$maxSiteWidth: 960px;

@function em($px, $base: $baseSize) {
    @return ($px / $base) * 1em;
}

@mixin prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

@mixin spanbackground($value) {
    background: $value;
    &:before,
    &:after {
        background: $value;
    }
}

@mixin clearfix { /* beat that clearfix, thanks css-101 */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.left   { float: left;  }
.right  { float: right; }
.clear  { clear: both;  }
.clearL { clear: left;  }
.clearR { clear: right; }

.a-left   { text-align: left;  }
.a-right  { text-align: right; }
.a-center { text-align: center; }
.clear-fix { @include clearfix; }


.inherit-color {
    &,
    &:link,
    &:visited {
        color: inherit;
    }
}

.hidden {
    display: none;
}

.faded {
    opacity: .7;
}

.indented {
    text-indent: .5em;
}


/*** Site Base **/
body {
    color: $c-text;
    font-family: $f-openSans;
    font-size: $baseSize;
    line-height: 1.618;
    text-align: center;
    padding: em($baseLineHeight) 0 0;
    background: $c-bg;
    overflow-x: hidden;
}

    .site-wrapper {
        text-align: left;
        width: 92%;
        max-width: $maxSiteWidth;
        margin: 0 auto;
    }

    .scroll-fix {
        width: 100%;
        overflow: hidden;
    }

    .print__only {
        display: none !important;
    }

    hgroup,
    ul,ol,dd,
    p, figure, blockquote,
    table, fieldset, hr {
        margin-bottom: em($baseLineHeight);
    }

    .one-line { margin-bottom: 0; }
