/* Entypo */
@font-face {
    font-family: 'entypo';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Entypo/entypo.eot");
    src: local('©'),
         url("/assets/fonts/Entypo/entypo.woff") format("woff"),
         url("/assets/fonts/Entypo/entypo.ttf") format("truetype"),
         url("/assets/fonts/Entypo/entypo.svg#") format("svg");
}
