/*-------------------------------------*\
    $SKILL LIST
\*-------------------------------------*/

/**
 * Skill List
 *
 * - Styles
 * - Implmentation
 *
    <ul class="skill-list">
        <li class="skill-list__item">
            <span class="skill-list__name">Html</span>
            <span class="skill-list__rating  ten-twelfths"></span>
        </li>
    </ul>
 *
 */



/*---  Styles  ---*/

%skill-list {
}

    %skill-list__item {
        position: relative;
        background: $c-body;
    }

        %skill-list__name {
        }

        %skill-list__rating {
            width: 0;
            height: 3px;
            background: $c-blue;
            display: block;
            position: absolute;
            top: .6em;
            left: 0;
            z-index: -1;

            -webkit-transition: width 2s;
            transition: width 2s;
        }


/*---  Implementation  ---*/

.skill-list {
    @extend %skill-list !optional;
}

    .skill-list__item {
        @extend %skill-list__item !optional;
    }

        .skill-list__name {
            @extend %skill-list__name !optional;
        }

        .skill-list__rating {
            @extend %skill-list__rating !optional;
        }





