/*
 * _global.scss
 *
 * General use functions 
 * and global definitions
 *
 */

$c-bg: #fff;
$c-text: #000;

$f-openSans: 'Open Sans', 'OpenSans', verdana, sans-serif;
$f-ptSans: 'PT Sans';
$f-ptCap: 'PT Serif Caption', 'PTSerif-Caption';


$c-logo: #e5e5e5;
$c-title: #2e2e2e;
$c-postTitle: #3e3e3e;

$c-lightBlue: #8Bd0e4;
$c-darkBlue: #5496a8;

$c-lightGray: #fafafa;

$c-footer: #fff1ad;

$c-border: #e6e6e6;
$c-borderDark: #c9c9c9;

$baseSize: 16px;
$baseLineHeight: 16px * 1.618;
$maxSiteWidth: 960px;

$break-width-small: 630px;
$break-width-tiny: 480px;

@function em($px, $base: $baseSize) {
    @return ($px / $base) * 1em;
}

@mixin prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

@mixin spanbackground($value) {
    background: $value;
    &:before,
    &:after {
        background: $value;
    }
}

@mixin plainlinks($color: #000) {
    a,
    a:link,
    a:visited {
        color: $color;
        text-decoration: none;
    }
}

@mixin clearfix { /* beat that clearfix, thanks css-101 */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.left   { float: left;  }
.right  { float: right; }
.clear  { clear: both;  }
.clearL { clear: left;  }
.clearR { clear: right; }

.a-left   { text-align: left;  }
.a-right  { text-align: right; }
.a-center { text-align: center; }
.clear-fix { @include clearfix; }

.plain-links {
    @include plainlinks(inherit);
}

.hidden {
    display: none;
}

.faded {
    opacity: .7;
}

.indented {
    text-indent: .5em;
}


/*** Site Base **/
body {
    color: $c-text;
    font-family: $f-openSans;
    font-size: $baseSize;
    line-height: 1.618;
    text-align: center;
    padding: em($baseLineHeight) 0;
    background: $c-bg;
    overflow-x: hidden;
}

    .site-wrapper {
        text-align: left;
        width: 92%;
        max-width: $maxSiteWidth;
        margin: 0 auto;
    }


    h1,h2,h3,h4,h5,h6,hgroup,
    ul,ol,dd,
    p,figure,
    pre,table,fieldset,hr{
        margin-bottom: em($baseLineHeight);
    }
