.site-nav {
    font-size: em(18px);
    @include plainlinks;

    position: absolute;
    top: em($baseLineHeight * 2.5);
    left: em($baseLineHeight) * 1.25;

    @include prefix(text-shadow, 0 1px rgba(0,0,0,.32));

    a {
        padding: .5em 0;
    }

    @media screen and (max-width: $break-width-small) {
        position: static;
    }
}
