/*-------------------------------------*\
    PRINT
\*-------------------------------------*/
/**
 * Print
 * 
 * All the print styles
 * 
 */
.span-bar,
footer,
nav,
.print__hide,
.print__hidden {
  display: none !important;
}

.print__only {
  display: block !important;
}

.print-1\/2 {
  width: 50% !important;
}

html {
  font-size: .75em;
}
