/*-------------------------------------*\
    PRINT
\*-------------------------------------*/

/**
 * Print
 * 
 * All the print styles
 * 
 */ 
 
%print__hidden {
    display: none !important;
}

    .span-bar,
    footer,
    nav,
    .print__hide,
    .print__hidden {
        @extend %print__hidden;
    }


%print__only {
    display: block !important;
}

    .print__only {
        @extend %print__only;
    }


.print-1\/2 {
    width: 50% !important;
}


html {
    font-size: .75em;
}
