/*-------------------------------------*\
    SITE FOOTER
\*-------------------------------------*/

/**
 * Site Footer
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */


%site__footer {
    @include breakpoint(min-width 550px) {
        .nav,
        .social {
            float: none !important;
            text-align: left !important;
        }
    }
}

    %site__footer__span-bar {
        line-height: 0;
    }





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.site__footer { @extend %site__footer !optional; }
.site__footer__span-bar { @extend %site__footer__span-bar !optional; }
