/* base */
.post-summary {
    margin: 0 0 1em 1em;
    padding: 1em;
    border: 1px solid $c-border;
    background: #f0f0f0;
    float: right;
}

/* isotopes */
.post-summary__list {
    list-style: none;
    margin-bottom: 0 !important;
}

.post-summary__links {
    border-bottom: 1px solid $c-borderDark;
}

    .post-summary__links:last-of-type,
    .post-summary__links--last {
        border: none;
    }
