.toggle-slider {
    max-height: em($baseLineHeight * 22); /* Arbitrary number of lines to show */
    overflow: hidden;

    @include prefix(transition, (max-height 1.5s));
}

    .toggle-slider--hidden {
        max-height: 0;
        display: block;
    }
