h1,h2,h3,h4,h5,h6 {
    line-height: 1.618;
}

.alpha,
h1 {
    color: $c-postTitle;
    font-family: $f-openSans;
    font-size: 3.706em;
    font-weight: bold;

    @media screen and (max-width: $break-width-small) {
        font-size: 2.618em;
    }
}

.beta,
h2 {
    color: $c-postTitle;
    font-family: $f-ptCap;
    font-size: 2.618em;
    font-weight: normal;

    @media screen and (max-width: $break-width-small) {
        font-size: 2.291em;
    }
}

.gamma,
h3 {
    color: $c-borderDark;
    font-family: $f-ptSans;
    font-size: 2.291em;
    font-weight: normal;

    @include prefix(text-shadow, 0 2px #fff);

    @media screen and (max-width: $break-width-small) {
        font-size: 1.618em;
    }
}

.delta,
h4 {
    color: $c-postTitle;
    font-family: $f-openSans;
    font-size: 1.618em;
    font-weight: normal;

    @media screen and (max-width: $break-width-small) {
        font-size: 1.416em;
    }
}

.epsilon,
h5 {
    color: $c-postTitle;
    font-family: $f-openSans;
    font-size: 1.425em;
    font-weight: normal;

    @media screen and (max-width: $break-width-small) {
        font-size: 1.416em;
    }
}
