/*-------------------------------------*\
    $LINKS
\*-------------------------------------*/

/**
 * Links
 *
 * - Styles
 * - Implementation
 *
    
 *
 */


/*---  Styles  ---*/

%link {
    color: $c-darkBlue;
    text-decoration: none;

    &:hover,
    &:focus {
        color: #27a6c9;
        text-decoration: underline;
        outline: none;
    }
    &:active {
        outline: none;
    }

    &::selection {
        color: #fff;
    }
}

@mixin plain-link($color: inherit) { 
    &,
    &:link,
    &:visited {
        color: $color;
        text-decoration: none;
    }
}

@mixin plainlinks($color: inherit) { 
    a { @include plain-link($color); }
}

%link--plain {
    @include plain-link();
}





/*---  Implementation  ---*/

a, 
.link { 
    @extend %link; 
}

/*a*/.link--plain { 
    @extend %link--plain; 
}
    .plain-links { @include plainlinks(); }
