ol, ul { list-style-position: inside; }

.list--unordered {
    list-style-type: disc;

    li {
        margin-bottom: 1em;
    }
}

.list--one-line {
    li {
        display: inline;
    }
}

.list--comma {
    li {
        &:after {
            content: ",";
        }

        &:last-of-type:after {
            content: "";
        }
    }
}
