blockquote {
    padding: 0 em($baseLineHeight * 3) 0 em($baseLineHeight * 2);
    border-left: 5px solid $c-lightBlue;

    @media screen and (max-width: $break-width-small) {
        & {
            padding: 0 em($baseLineHeight * 2) 0 em($baseLineHeight * 1);
        }
    }
}

hr {
    margin: 0 em($baseLineHeight * 3) em($baseLineHeight);
    background: none;
    border: 1px solid $c-border;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

code {
    background: $c-border;
}

small {
    font-size: .875em;
}

    .smaller { font-size: .675em; }

%light {
    font-weight: 200;
    opacity: .8;
}

    .light { @extend %light; }
