<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif+Caption|Open+Sans:400italic,700italic,400,800,700' rel='stylesheet' type='text/css'>

    <!-- Minified Styles -->
    <link rel="stylesheet" href="/assets/css/mini.css">

</head>
<body>
    <div class="hidden">
        <img src='/images/post-buttons--hover.png'>
        <img src='/images/post-buttons--standard.png'>
        <img src='/images/post-buttons--gray.png'>
        <img src='/images/post-buttons--active.png'>
    </div>

    <div class="site-wrapper">
        <header class="site-header clear-fix">
            <img class="site-logo right" src="/images/transparent.gif" width="106" height="103">
            <h2 class="site-logo-text"><a href="/index.html">Joel Felsinger</a></h2>

            <nav class="nav site-nav">
                <a href="/index.html" class="menuItem current">Home</a> -
                <a href="/about.html" class="menuItem">About</a> -
                <a href="/contact.html" class="menuItem">Contact</a>
            </nav>
        </header>

        <section class="span-bar blue-texture">
            {% if page.index %}
            <p class="display-text display-text--no-hide">I Love the Web!</p>
            <p class="display-text display-text--indented">I love making things awesome!</p>
            <p class="display-text">And I love sharing it!</p>
            {% else %}
            <p class="display-text display-text--no-hide a-center">&lt;3</p>
            {% endif %}
        </section>

        <section class="mainContent">

            {{ content }}

        </section><!-- #mainContent -->

        <footer class="site-footer">
            <section class="span-bar site-footer__span-bar span-bar--gray-solid">
                <nav class="nav left">
                    <a href="/index.html" class="menuItem faded">Home</a> -
                    <a href="/about.html" class="menuItem faded">About</a> -
                    <a href="/contact.html" class="menuItem faded" title="Get in touch with me">Contact</a>
                </nav>

                <p class="social right a-right"><span class="faded">Follow on:</span> <a href="http://twitter.com/JFelsinger">Twitter</a><!-- &sdot; <a href="#">RSS</a>--></span>
            </section>

            <p class="copyright faded">Copyright &copy; 2013 Joel Felsinger</p>
        </footer>
    </div>

    <!-- FlowType.js -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/assets/js/flowType/flowtype.js" type="text/javascript"></script>
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>
</html>
