/* base */
.highlight {
    margin-bottom: em($baseLineHeight);
    padding: 0 em($baseLineHeight);
    border: 1px solid $c-borderDark;
    background: $c-border;
    clear: both;

    ::selection {
        background: #bbf1ff;
    }

    .c1::selection {
        background: rgba(187,241,255,.7);
    }
}
