/* base */
.span-bar {
    margin-bottom: em($baseLineHeight);
    padding: $baseLineHeight 0;
    background: #efefef;
    position: relative;

    &:before,
    &:after {
        background: #efefef;
        content: " ";
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
    }
    &:before {
        left: auto;
        right: 100%;
    }
}

/* isotopes */
.span-bar--blue-texture {
    @include spanbackground(url('/images/blue-texture.png') repeat);

    &,
    &:before,
    &:after {
        @include prefix(box-shadow, 0 1px rgba(0,0,0,.1) inset);
    }
}

.span-bar--gray-solid {
    @include spanbackground($c-border);
}

